#historia {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#historia_criadora{
    width: 500px;
    height: auto;
}

#historia .section-subtitle {
    font-size: 2rem;
}

#historia_content {
    width: 50%;
}

#conteudos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.conteudo {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}
.conteudo-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.conteudo-content p {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1170px) {
    #historia {
        flex-direction: column;

    }

    #historia .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #historia_criadora{
        display: none;
    }

    #historia_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    
    #historia .section-subtitle {
        font-size: 2rem;
    }

    #historia_content {
        width: 100%;
    }
    
    #conteudo {
        flex-direction: column;
    }
}